
{{msg}}
<form>
    <table>
        <tr> 
            <td>UserName:</td>
            <td><input type="text"  [(ngModel)] = "username" name="userName" required/></td>
        </tr>
        <tr> 
            <td>Password:</td>
            <td><input type="password"  [(ngModel)] ="password" name="password" required/></td>
           
        </tr>     
        <tr>
            <td>
                <button (click)="allOrders()">Show Orders</button>
            </td>
           
        </tr>
        <tr>
            <td>
                <button (click)="recharge()">Recharge</button>
            </td>
           
        </tr>
    </table>
</form>
